<div class="specific-template">
	<div class="col-xs-12 col-sm-3 col-md-4">
		<img class="one-image" src="img/blueTemplate.jpg">
	</div>
	<div class="col-xs-12 col-sm-9 col-md-8">
		<h3>Blue Template</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus, lacus vel commodo iaculis, mi libero vehicula dolor, ac tempus sapien urna at tellus. Curabitur sodales nibh quis erat vestibulum, blandit pretium lacus egestas. Vivamus iaculis dictum diam. Donec in convallis arcu. Nunc tincidunt pellentesque enim, a vestibulum justo pretium eget. Nunc rhoncus tincidunt placerat. Pellentesque pulvinar sem ex, a commodo nibh dictum et. Vivamus scelerisque, velit at placerat bibendum, elit lectus blandit risus, eu maximus leo eros vitae nulla.</p>
	<h4>$19.99</h4>
	BUY IT
	</div>
	<a class="center-back" href="#/templates">Go back</a><br>

</div>