<div class="specific-template">	
	<div class="col-xs-12 col-sm-3 col-md-4">
		<img class="one-image" ng-src="img/{{mainImage}}">
	</div>
	<div class="col-xs-12 col-sm-9 col-md-8">
		<h3>{{template.name}}</h3>
		<p>{{template.description}}</p>
		<p>Type: {{template.type}}</p>
	<h4>{{template.price | currency}}</h4>
		<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
		<!-- Specifies Buy now button -->
			<input type="hidden" name="cmd" value="_xclick">
			<input type="hidden" name="business" value="karinfpe-store@yahoo.es">
			<!-- Item name -->
			<input type="hidden" name="item_name" value="{{template.name}}">
			<input type="hidden" name="currency_code" value="USD">
			<input type="hidden" name="amount" value="{{template.price}}">
			<!-- Specify shipping -->
			<input type="hidden" name="no_shipping" value="1">
			<!-- Return method -->
			<input type="hidden" name="rm" value="2">
			<!-- Return URL -->
			<input type="hidden" name="return" value="http://localhost:8000/app">	
			<!-- Cancel return url -->
			<input type="hidden" name="cancel_return" value="http://localhost:8000/app">	

			<!-- Button -->

			<input type="image" src="http://www.paypalobjects.com/webstatic/en_US/btn/btn_buynow_107x26.png" name="submit" alt="Buy Now">
		</form>
	</div>
	<a class="center-back" href="#/templates">Go back</a><br>
	
</div>